# Practice SQL Commands

In [1]:
import csv
from io import StringIO
import time
import pandas as pd
import sqlalchemy

In [2]:
# Define your PostgreSQL connection string here
PG_STRING = 'postgresql://Brinkley97:v2_3z6pm_BfmdHMwEXa6HQJqWmvu5hi2@db.bit.io:5432/Brinkley97/deep_work'
# PG_STRING

In [3]:
# Create SQLAlchemy engine to manage our database connections
engine = sqlalchemy.create_engine(PG_STRING, pool_pre_ping=True)
# engine

In [4]:
# SQL for querying an entire table
query = 'SELECT * FROM "us-states";'
populate_query = sqlalchemy.text(query)

In [5]:
# Return SQL query as a pandas dataframe
with engine.connect() as conn:
    # Set 1 minute statement timeout (units are milliseconds)
    # conn.execute("SET statement_timeout = 60000;")
    df = pd.read_sql_query(populate_query, conn)
df.head()

        date       state  fips  cases  deaths
0 2020-01-21  Washington    53      1       0
1 2020-01-22  Washington    53      1       0
2 2020-01-23  Washington    53      1       0
3 2020-01-24    Illinois    17      1       0
4 2020-01-24  Washington    53      1       0

In [6]:
# Clarify that cases and deaths are cumulative
df = df.rename(columns={
  'cases': 'cumulative_cases',
  'deaths': 'cumulative_deaths'})
# Compute net new cases and deaths per date
df = df.sort_values('date')
df['new_cases'] = df.groupby('fips')['cumulative_cases'].diff()
df['new_deaths'] = df.groupby('fips')['cumulative_deaths'].diff()
df.head()

,date,state,fips,cumulative_cases,cumulative_deaths,new_cases,new_deaths
0,2020-01-21,Washington,53,1,0,NaN,NaN
1,2020-01-22,Washington,53,1,0,0.0,0.0
2,2020-01-23,Washington,53,1,0,0.0,0.0
3,2020-01-24,Illinois,17,1,0,NaN,NaN
4,2020-01-24,Washington,53,1,0,0.0,0.0